<launch>

  <arg name="model" default="$(find quad_description)/urdf/quad.urdf"/>
  <arg name="gui" default="true" />
  
  <param name="robot_description" command="$(find xacro)/xacro '$(find quad_description)/urdf/quad.xacro'" />
  
  <node name="urg_node" pkg="urg_node" type="urg_node"> 
   <param name="ip_address" type="string" value="192.168.0.10"/>
   <param name="frame_id" value="hokuyo_laser_frame"/>
   <param name="min_ang" value="-1.0"/>
   <param name="max_ang" value="+1.0"/>
  </node>

  <!--node name="stim300_node" pkg="stim300_ros" type="stim300lib.py" output="screen">
   <param name="device_id" value="/dev/ttyS0"/>
   <param name="topic_name" value="imu"/>
   <param name="frame_id" value="imu_link"/>
  </node-->

  <node name="c270_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
   <param name="video_device" value="/dev/video0" />
   <param name="image_width" value="320" />
   <param name="image_height" value="240" />
   <param name="pixel_format" value="mjpeg" />
   <param name="camera_frame_id" value="usb_cam" />
   <param name="io_method" value="mmap"/>
  </node>
  
  <node name="rosserial_python" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyUSB0" />
 
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">["steering/"]</rosparam>
  </node>
    
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /-->

</launch>

