<launch>

  <node respawn="true" pkg="joy" type="joy_node" name="joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <!--param name="deadzone" value="0.12" /-->
  </node>

  <node name="quad_teleop" pkg="quad_teleop" type="quad_teleop.py" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d /home/toor/catkin_ws/src/quad.git/quad.rviz" />

</launch>

